
<h1>Lista de Productos</h1>


<div class="table">
  <table  class="mat-elevation-z8 demo-table table-active">
    <thead>
      <tr>
        <th>ProductID</th>
        <th>CategoryID</th>
        <th>ProductName</th>
        <th>CuantityPerUnit</th>
        <th>Price</th>
        <th>Unit in Stock</th>
        <th>unitsOnOrder</th>
        <th>Discontinued</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of listProd |objToArray">
        <td >{{items.productId}}</td>
        <td >{{items.categoryId}}</td>
        <td >{{items.productName}}</td>
        <td >{{items.quantityPerUnit}}</td>
        <td >{{items.unitPrice}}</td>
        <td >{{items.unitsInStock}}</td>
        <td >{{items.unitsOnOrder}}</td>
        <td>{{items.discontinued}}</td>
      </tr>
    </tbody>

  </table>  
</div>



<!--

-->


  