<!--

<div class="container" *ngFor="let product of val">
    <section class="products">
        <mat-card class="card" >
        <mat-card-header></mat-card-header>
        <mat-card-title> {{product.productName}} </mat-card-title>
        <mat-card-content>
          <p> {{product.supplierId}}</p>
        </mat-card-content>
        </mat-card>
        </section>
</div>




<mat-card class="example-card" >
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-title></mat-card-title>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      
    </mat-card-footer>
  </mat-card>


-->

    <table  >
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">SupplierId</th>
                <th scope="col">CategoryId</th>
                <th scope="col">quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Units on Order</th>
                <th scope="col">Reorder</th>
                <th scope="col">Discontinued</th>
                
            </tr>
        </thead>  
        <tbody>
        <tr *ngFor="let productos of products | objToArray" > 
            <td>{{productos.productId}}</td>
            <td>{{productos.productName}}</td>
            <td>{{productos.supplierId}}</td>
            <td>{{productos.categoryId}}</td>
            <td>{{productos.quantityPerUnit}}</td>
            <td>{{productos.unitPrice}}</td>
            <td>{{productos.unitsInStock}}</td>
            <td>{{productos.unitsOnOrder}}</td>
            <td>{{productos.reorderLevel}}</td>
        </tr>
        </tbody>                  
          </table>



  